@value bgColor1 from 'common/style.css';
@value bgColor3 from 'common/style.css';
@value borderColor1 from 'common/style.css';
@value scrollbarWidth from 'common/style.css';

.scrollArea {
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}

.list {
  width: 100%;
  margin: 0;
  padding: scrollbarWidth 0;
}