@value mobileAsideWidth: 80vw;

.container {
  visibility: hidden;
  transition: backdrop-filter 200ms ease-out, visibility 200ms ease-out;
}

.container.shown {
  visibility: visible;
  backdrop-filter: var(--filter-backdrop);
}

.aside {
  position: fixed;
  /* transform을 사용할 경우 position: fixed가 된 요소는 
     transform가 있는 요소에 상대적이 되기 때문에 right를 사용 */
  right: calc(mobileAsideWidth * -1);
  display: flex;
  flex-direction: column;
  width: mobileAsideWidth;
  height: 100%;
  padding: 0;
  color: var(--color-font-1);
  background-color: var(--color-bg-1);
  transition: right 200ms ease-out;
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}

.aside.shown {
  right: 0;
}

@media screen and (min-width: 30rem) {
  /* 30 * 0.8 = 24*/
  @value asideWidth: 24rem;
  .aside {
    right: calc(asideWidth * -1);
    width: asideWidth;
  }
}

.list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 2em;
  padding: 0.5em 0;
  border-bottom: 1px solid var(--color-border-1);
}

@media screen and (min-width: 30rem) {
  .item {
    justify-content: space-between;
    flex-direction: row;
  }
}

.itemSub {
  width: 12em;
}

.itemSubText {
  padding-left: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-font-2);
}

.text {
  /* 텍스트가 영역을 벗어나지 않도록 처리 */
  /* 가로 */
  word-break: break-all;
  /* 세로 */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  /* !텍스트가 영역을 벗어나지 않도록 처리 */
  margin: 0 0.5em;
  font-weight: 600;
}

.oss {
  cursor: pointer;
}

.contact {
  padding: 0.3em 0.5em;
}

.contact p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-font-2);
  font-size: 0.8rem;
}

.account {
  display: flex;
  align-items: center;
  margin-bottom: 0.3em;
}

.email {
  margin-right: 0.5em;
}

.gitIcon {
  cursor: pointer;
  color: var(--color-font-2);
}