@value bgColor2 from 'common/style.css';
@value fontColor1 from 'common/style.css';
@value hoverEffectColor from 'common/style.css';
@value activeEffectColor from 'common/style.css';
@value popupShadow from 'common/style.css';

.menu {
  position: fixed;
  background-color: bgColor2;
  padding: 0.5em 0.3em;
  border-radius: 5px;
  color: fontColor1;
  box-shadow: popupShadow;
}

.menu li {
  display: flex;
  align-items: center;
  height: 2em;
  padding: 0 1em;
  border-radius: 5px;
}

@media (hover: hover) and (pointer: fine) {
  .menu li:hover {
    box-shadow: inset 0 0 0 10em hoverEffectColor;
  }
}

.menu li:active {
  box-shadow: inset 0 0 0 10em activeEffectColor;
}