:root {
  /* colors */
  --color-bg-1: #272727;
  --color-bg-2: #323232;
  --color-bg-3: #494949;
  --color-border-1: #494949;
  --color-font-1: #EEF0F2;
  --color-font-2: #BCBEBF;
  --color-accent-1: #1670FC;
  --color-accent-2: #0046C8;
  --color-hover-effect: rgba(181, 181, 181, 0.1);
  --color-active-effect: rgba(181, 181, 181, 0.2);

  /* size */
  --size-scrollbar-width: 6px;
  
  /* etc */
  --shadow-popup: rgba(0, 0, 0, 0.5) 0px 0px 17px;
}

/* backdrop */
:root,
dialog::backdrop {
  --filter-backdrop: brightness(120%) blur(2px);
}