/* dark */
:root {
  /* colors */
  --color-bg-1: #272727;
  --color-bg-2: #323232;
  --color-bg-3: #494949;
  --color-border-1: #494949;
  --color-font-1: #EEF0F2;
  --color-font-2: #BCBEBF;
  --color-accent-1: #1670FC;
  --color-accent-2: #0046C8;
  --color-warning-1: #b84c4b;
  --color-hover-effect: rgba(181, 181, 181, 0.1);
  --color-active-effect: rgba(181, 181, 181, 0.15);
  --color-disabled-effect: rgba(0, 0, 0, 1);
  
  /* etc */
  --shadow-popup: rgba(10, 10, 10, 0.5) 0px 0px 12px;
}

/* etc */
:root,
dialog::backdrop {
  --filter-backdrop: brightness(120%) blur(2px);
}
/* !dark */


/* light */
html.light {
  /* colors */
  --color-bg-1: #EEF0F2;
  --color-bg-2: #e9ebee;
  --color-bg-3: #FFFFFF;
  --color-border-1: #FFFFFF;
  --color-font-1: #323232;
  --color-font-2: #4e4e4e;
  --color-accent-1: #5796F8;
  --color-accent-2: #90C6FF;
  --color-warning-1: #cc3300;
  --color-hover-effect: rgba(112, 112, 112, 0.17);
  --color-active-effect: rgba(112, 112, 112, 0.23);

  /* etc */
  --shadow-popup: rgba(10, 10, 10, 0.3) 0px 0px 12px;
}

/* etc */
html.light,
dialog.light::backdrop {
  --filter-backdrop: brightness(90%) blur(2px);
}
/* !light */

/* common */
:root {  
  /* sizes */
  --size-scrollbar-width: 6px;

  /* etc*/
  --disabled-opacity: 0.5;
}
/* !common */