.alert {
  /* display: flex;
  flex-direction: column; */
  min-width: 20em;
  max-width: min(25em, 60%);
  min-height: 5em;
  padding: 2em 1.5em;
  border: 0;
  border-radius: 5px;
  background-color: var(--color-bg-1);
  color: var(--color-font-1);
}

/* .title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
} */

.okButton {
  align-self: flex-end;
  width: 4.5em;
  height: 2em;
  margin-left: 0.5em;
  background-color: var(--color-bg-3);
  color: var(--color-font-1);
  border-radius: 5px;
}
