.topicItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-3);
  color: var(--color-font-1);
}

.topicItem.accented {
  background-color: var(--color-accent-1);
}

.text {
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
  /* 텍스트가 영역을 벗어나지 않도록 처리 */
  /* 가로 */
  word-break: break-all;
  /* 세로 */
  line-height: 1.25em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* !텍스트가 영역을 벗어나지 않도록 처리 */
}

@media screen and (min-width: 30rem) {
  .text {
    font-size: 1rem;
    -webkit-line-clamp: 3;
  }
}

/* 반응형 정사각형 */
.topicItem {
  position: relative;
  width: 100%;
}

.topicItem::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.text {
  position: absolute;
}
/* !반응형 정사각형 */
