@value bgColor1 from 'common/style.css';
@value bgColor3 from 'common/style.css';
@value fontColor1 from 'common/style.css';
@value accentColor1 from 'common/style.css';

.topicItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bgColor3;
  color: fontColor1;
}

.topicItem.accented {
  background-color: accentColor1;
}

.text {
  font-size: 0.75rem;
  text-align: center;
  margin: 0;
  /* 텍스트가 영역을 벗어나지 않도록 처리 */
  /* 가로 */
  word-break: break-all;
  /* 세로 */
  line-height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /* !텍스트가 영역을 벗어나지 않도록 처리 */
}

@media screen and (min-width: 30rem) {
  .text {
    font-size: 1rem;
  }
}

/* 반응형 정사각형 */
.topicItem {
  position: relative;
  width: 100%;
}

.topicItem::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.text {
  position: absolute;
}
/* !반응형 정사각형 */
