.notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-font-1);
  background-color: var(--color-bg-1);
}

.message {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 0.25em;
}

.newButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  font-size: 1.5rem;
  padding-left: 0.5em;
  padding-right: 0.75em;
  border-radius: 5px;
  background-color: var(--color-bg-3);
  color: var(--color-font-1);
}

.newButton p {
  margin: 0;
  margin-left: 0.25em;
  font-size: inherit;
}
