.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2em;
  line-height: 2em;
  padding: 0 0.5em;
  border-radius: 5px;
  cursor: pointer;
}

.item + .item {
  margin-top: 0.25em;
}

.item.selected {
  box-shadow: inset 0 0 0 10em var(--color-active-effect);
}

.item p {
  /* 텍스트가 영역을 벗어나지 않도록 처리 */
  /* 가로 */
  word-break: break-all;
  /* 세로 */
  line-height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  /* !텍스트가 영역을 벗어나지 않도록 처리 */
  margin: 0 0.5em;
}

@media (hover: hover) and (pointer: fine) {
  .item:hover {
    box-shadow: inset 0 0 0 10em var(--color-hover-effect);
  }
}

.item:active {
  box-shadow: inset 0 0 0 10em var(--color-active-effect);
}

.icon {
  min-width: 1em;
}

.etcButton {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.5em;
  height: 1.5em;
  border-radius: 5px;
  padding: 0;
  background-color: transparent;
  color: var(--color-font-1);
  margin-left: auto;
}
