.topicsView {
  width: 80vmin;
  height: 80vmin;
  min-width: 40em;
  min-height: 40em;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .topicsView {
    min-width: 80vw;
    min-height: 80vw;
  }
}