@value sidePadding: 5%;

.license {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--color-font-1);
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 3em;
  padding: 0 sidePadding;
  color: var(--color-font-1);
  border-bottom: 1px solid var(--color-border-1);
}

.goBackButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3333333333333333em;
  height: 1.3333333333333333em;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0;
  background-color: var(--color-bg-1);
  color: var(--color-font-1);
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  margin-left: 0.25em;
}

.list {
  margin: 0;
  padding: 0 sidePadding;
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
  border-bottom: 1px solid var(--color-border-1);
}

.item h3 {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 0.5em;
}

.item p,
.item a {
  margin: 0;
  margin-bottom: 0.25em;
  color: var(--color-font-1);
  word-wrap:break-word;
}