@value bgColor1 from '../../common/style.css';
@value bgColor3 from '../../common/style.css';
@value fontColor1 from '../../common/style.css';

.header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 3em;
  padding: 0;
  color: fontColor1;
}

.left {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}

.right {
  display: flex;
  height: 100%;
  margin-left: auto;
}

.title {
  font-size: 1.3rem;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

.signButton {
  width: 5em;
  border-radius: 5px;
  background-color: bgColor3;
  color: fontColor1;
}

.asideButton,
.etcButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3333333333333333em;
  height: 1.3333333333333333em;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0;
  background-color: bgColor1;
  color: fontColor1;
}

.asideButton {
  margin-right: 0.16666666666666666em;
}
.etcButton {
  margin-left: 0.16666666666666666em;
}