/* 반응형 정사각형 */
.mandalart {
  position: relative;
  width: 100%;
}

.mandalart::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* !반응형 정사각형 */

.mandalart {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.titleBar {
  display: flex;
  flex-direction: column;
}

.title {
  /* 텍스트가 영역을 벗어나지 않도록 처리 */
  /* 가로 */
  word-break: break-all;
  /* 세로 */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  /* !텍스트가 영역을 벗어나지 않도록 처리 */
  color: var(--color-font-1);
  font-size: 2rem;
  margin: 0;
  width: 100%;
}

.draft {
  color: var(--color-font-2);
  font-size: 1.2rem;
  margin: 0;
  margin-right: 0.1em;
  height: 1.2em;
}