.toggleButtonGroup {
  width: 100%;
}

.toggleButton {
  width: 50%;
  padding: 0.5em;
}

.allViewIcon {
  font-size: 1.5rem;
}

/* todo: 버튼 icon 사이즈 설정 방법 개선 */
.partViewIconFrame {
  max-width: 1.5rem;
  max-height: 1.5rem;
  overflow: hidden;
}

.partViewIcon {
  font-size: 2.5rem;
  /* (아이콘 사이즈 - frame 폭) / 2 */
  transform: translate(-0.5rem, -0.5rem);
}

/* .allViewButton,
.partViewButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: var(--color-bg-3);
  color: var(--color-font-1);
} */

/* todo: 버튼 icon 사이즈 설정 방법 개선 */

/* .allViewButton {
  border-radius: 5px 0 0 5px;
  font-size: 1.5rem;
}

.partViewButton {
  border-radius: 0 5px 5px 0;
  font-size: 2.5rem;
}

.crop {
  max-width: 1.5rem;
  max-height: 1.5rem;
  font-size: inherit;
  overflow: hidden;
}

.partViewIco {
  transform: translate(-20%, -45%);
}

.selected {
  background-color: var(--color-accent-1);
} */
