@value bgColor1 from 'assets/css/styles.css';
@value bgColor3 from 'assets/css/styles.css';
@value borderColor1 from 'assets/css/styles.css';
@value fontColor1 from 'assets/css/styles.css';
@value accentColor1 from 'assets/css/styles.css';

.dialog {
  display: flex;
  flex-direction: column;
  width: 20em;
  padding: 1.5em;
  border: 0;
  border-radius: 10px;
  background-color: bgColor1;
  color: fontColor1;
}

.title {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

.input {
  height: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  outline: none;
  border: 1px solid borderColor1;
  background-color: bgColor1;
  color: fontColor1;
  border-radius: 5px;
  padding-left: calc(0.25em - 1px);
}

.combo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4.5em;
  height: 1.5em;
  padding-left: 0.25em;
  background-color: bgColor1;
  color: fontColor1;
}

.buttons {
  align-self: flex-end;
  display: flex;
  margin-top: 1.25em;
}

.button {
  width: 4.5em;
  height: 2em;
  margin-left: 0.5em;
  background-color: bgColor3;
  color: fontColor1;
  border-radius: 5px;
}
