.dialog { 
  display: flex;
  flex-direction: column;
  width: 20em;
  padding: 1.5em;
  border: 0;
  border-radius: 10px;
  background-color: var(--color-bg-1);
  color: var(--color-font-1);
}

.title {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

.input {
  height: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  outline: none;
  border: 1px solid var(--color-border-1);
  background-color: var(--color-bg-1);
  color: var(--color-font-1);
  border-radius: 5px;
  padding-left: calc(0.25em - 1px);
}

.buttons {
  align-self: flex-end;
  display: flex;
  margin-top: 1.25em;
}

.button {
  width: 4.5em;
  height: 2em;
  margin-left: 0.5em;
  background-color: var(--color-bg-3);
  color: var(--color-font-1);
  border-radius: 5px;
}
